{% extends "base.html" %}
{% block title %}Edit subject | Time Machine {% endblock title %}
{% block carousel %}
{% endblock carousel %}
{% block main-content %}


        <div class="container">
            <form name="edit" id="addform" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                <div name="edit" class="navbar-collapse collapse" >
                    <div class="form-group">
                        <tr>
                            <td width="10%"><h4>Code:</h4></td>
                            <td width="80%"><input type="text" name="code" class="form-control" value="{{ period_obj.code }}"></td>
                        </tr>
                    </div>

                    <div class="form-group">
                        <tr>
                            <td width="10%"><h4>Name:</h4></td>
                            <td width="80%"><input type="text" name="name" class="form-control" value="{{ period_obj.name }}"></td>
                        </tr>
                    </div>

                    <div class="form-group">
                        <tr>
                            <td width="10%"><h4>Type:</h4></td>
                            <!-- <td><input type="listbox" name="day" class="form-control"></td> -->
                            <td>
                            <select name="period_type" size="1" class="form-control" value="{{ period_obj.period_type }}">
                                <option {% ifequal period_obj.period_type 1 %}selected{% endifequal %} value="1">  Science   </option>
                                <option {% ifequal period_obj.period_type 2 %}selected{% endifequal %} value="2">  Technology   </option>
                                <option {% ifequal period_obj.period_type 3 %}selected{% endifequal %} value="3">  Art   </option>
                                <option {% ifequal period_obj.period_type 4 %}selected{% endifequal %} value="4">  Economic   </option>
                                <option {% ifequal period_obj.period_type 5 %}selected{% endifequal %} value="5">  Others   </option>
                            </select>
                            </td>
                        </tr>
                    </div>

                    <div class="form-group">
                        <tr>
                            <td width="10%"><h4>Lecturer:</h4></td>
                            <td><input type="text" name="lecturer" class="form-control" value="{{ period_obj.lecturer }}"></td>
                        </tr>
                    </div>

                    <div class="form-group">
                        <tr>
                            <td width="10%"><h4>Day:</h4></td>
                            <!-- <td><input type="listbox" name="day" class="form-control"></td> -->
                            <td>
                            <select name="day" size="1" class="form-control" value="{{ period_obj.day }}">
                                <option {% ifequal period_obj.day 1 %}selected{% endifequal %} value="1">  Monday   </option>
                                <option {% ifequal period_obj.day 2 %}selected{% endifequal %} value="2">  Tuesday   </option>
                                <option {% ifequal period_obj.day 3 %}selected{% endifequal %} value="3">  Wednesday   </option>
                                <option {% ifequal period_obj.day 4 %}selected{% endifequal %} value="4">  Thursday   </option>
                                <option {% ifequal period_obj.day 5 %}selected{% endifequal %} value="5">  Friday   </option>
                                <option {% ifequal period_obj.day 6 %}selected{% endifequal %} value="6">  Saturday   </option>
                                <option {% ifequal period_obj.day 7 %}selected{% endifequal %} value="7">  Sunday   </option>
                            </select>
                            </td>
                        </tr>
                    </div>

                    <div class="form-group">
                        <tr>
                            <td width="10%"><h4>Start at:</h4></td>
                            <!-- <td><input type="listbox" name="start" class="form-control"></td> -->
                            <td>
                            <select name="start" size="1" class="form-control" value="{{ period_obj.start }}">
                                <option {% ifequal period_obj.start 1 %}selected{% endifequal %}>  1   </option>
                                <option {% ifequal period_obj.start 2 %}selected{% endifequal %}>  2   </option>
                                <option {% ifequal period_obj.start 3 %}selected{% endifequal %}>  3   </option>
                                <option {% ifequal period_obj.start 4 %}selected{% endifequal %}>  4   </option>
                                <option {% ifequal period_obj.start 5 %}selected{% endifequal %}>  5   </option>
                                <option {% ifequal period_obj.start 6 %}selected{% endifequal %}>  6   </option>
                                <option {% ifequal period_obj.start 7 %}selected{% endifequal %}>  7   </option>
                                <option {% ifequal period_obj.start 8 %}selected{% endifequal %}>  8   </option>
                                <option {% ifequal period_obj.start 9 %}selected{% endifequal %}>  9   </option>
                                <option {% ifequal period_obj.start 10 %}selected{% endifequal %}> 10  </option>
                            </select>
                            </td>
                        </tr>
                    </div>

                    <div class="form-group">
                        <tr>
                            <td width="10%"><h4>Length:</h4></td>
                            <td><input type="listbox" name="length" class="form-control" value="{{ period_obj.length }}"></td>
                        </tr>
                    </div>

                    <div class="form-group">
                        <tr><td colspan="2">
                            <hr/>
                            <div align="left"><button class="btn btn-lg btn-success" type="submit" name="submit" value="Save">Save</button></div>
                        </td></tr>
                    </div>
                </div>
                </table>
            </form>


    <!--
    <div name="edit" id="mylogin" class="navbar-collapse collapse">
        <form action="" role="form" method="post">
            {% csrf_token %}      <!-- Protection against Cross Site Request Forgeries
            {{ form.as_p }}
            <button class="btn btn-success" type="submit" name="submit" value="Save">Save</button>
        </form>
    </div>
    -->

{% endblock main-content %}