<!DOCTYPE html>
<html>
<head>
    <title>Show Period Information</title>
</head>
<body>
    {% ifequal period_id "0" %}
        <p align = 'center'>GOTO http://127.0.0.1:8000/periods/id=...</p>
    {% else %}
        <p align = 'center'>Period Information {{ period_id }} :</p>
    {% endifequal %}
        <br/>
    <table align = 'center' width = 400 border = 5>
        <tr>
            <td>ID</td>
            <td>Code</td>
            <td>Name</td>
            <td>Lecturer</td>
            <td>Postion</td>
            <td>Length</td>
        </tr>
    {% for period in periods %}
        <tr>
            <td> {{ period.id }} </td>
            <td> {{ period.code }} </td>
            <td> {{ period.name }} </td>
            <td> {{ period.lecturer }} </td>
            <td> {{ period.position }} </td>
            <td> {{ period.length }} </td>
        </tr>
    {% endfor %}
    </table>

    <p align="center"><a href="edit/id={{period_id}}">Edit</a></p>

</body>
</html>