{% extends "base.html" %}
{% block title %}Subject's detail | Time Machine {% endblock title %}
{% block carousel %}
{% endblock carousel %}
{% block main-content %}
    <div id="mylogin" class="navbar-collapse collapse edit-subject">
        {% ifequal period_id "0" %}
            <p align = 'center'>GOTO http://127.0.0.1:8000/periods/id=...</p>
        {% else %}
            <p align = 'center'>Period Information {{ period_id }} :</p>
        {% endifequal %}
            <br/>
        {% for period in periods %}
        <table align = 'center' width = 400 border = 2>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td> {{ period.id }} </td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td> {{ period.code }} </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td> {{ period.name }} </td>
                </tr>
                <tr>
                    <td>Lecturer</td>
                    <td> {{ period.lecturer }} </td>
                </tr>
                <tr>
                    <td>Postion</td>
                    <td> {{ period.position }} </td>
                </tr>
                <tr>
                    <td>Length</td>
                      <td> {{ period.length }} </td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
        <hr/>
        <a href="edit/id={{period_id}}" class="btn btn-success">Edit</a>
        <a href="get/id={{period_id}}" class="btn btn-success">GET</a>
    </div>
{% endblock main-content %}