{% extends "base.html" %}
{% block title %}Login page | Time Machine {% endblock title %}
{% block carousel %}
{% endblock carousel %}
{% block main-content %}
    <div class="container">
    <div name="login" id="mylogin" class="navbar-collapse collapse">
        <hr/>
        <form action="" role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password"/>
            </div>
            <hr/>
            <p align="right"><button class="btn btn-lg btn-success" type="submit" name="submit" value="Login">Login</button></p>
        </form>
        <br>
        <hr/>
        <font size=3px>Or you can create a new account at <a href="/users/auth_register">here</a></font>
    </div>
    </div>

{% endblock main-content %}