{% extends "base.html" %}
{% block title %}Add new timetable | Time Machine {% endblock title %}
{% block carousel %}
{% endblock carousel %}
{% block main-content %}
    <div name="add" id="mylogin" class="navbar-collapse collapse">
        <form action="" role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="code" class="form-control" placeholder="Code"/>
            </div>
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Name"/>
            </div>
            <button class="btn btn-success" type="submit" name="submit" value="Create">Create</button>
        </form>
    </div>

{% endblock main-content %}