{% extends "base.html" %}
{% block slide01 %}
    <!-- {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <title>Show Timetables Board</title>
    <div align="center"><b>Hi, {{username}}</b>
    <a href='users/auth_logout'>Logout</a>
    </div>
</head>
<body>
-->
<div class="slide01">
    {% ifequal timetable_id "0" %}
        <p align = 'center'>GOTO http://127.0.0.1:8000/timetables/id=...</p>
    {% else %}
        <br/>
        <table align='center' width=900 border = 1>
            <thead align='center'>
                <tr>
                    <td>SESSIONS</td>
                    <td>MONDAY</td>
                    <td>TUESDAY</td>
                    <td>WEDNEDDAY</td>
                    <td>THURSDAY</td>
                    <td>FRIDAY</td>
                    <td>SATURDAY</td>
                    <td>SUNDAY</td>
                </tr>
            </thead>
            <tbody>
        {% for i in "0123456789" %}
                <tr>
                    <td align="center">{{ i|add:"1" }} </td>
                {% for j in "0123456" %}
                    {% for period in periods_array %}
                        {% ifequal i period.per %}
                            {% ifequal j period.day %}
                                {% ifnotequal period.name 0 %}
                                    <td align='center'
                                        {% for period in periods_array %}
                                            {% ifequal i period.per %}
                                                {% ifequal j period.day %}
                                                    {% ifnotequal period.length 0 %}
                                                        rowspan = "{{ period.length }}"
                                                    {% endifnotequal %}
                                                {% endifequal %}
                                            {% endifequal %}
                                        {% endfor %}
                                    >
                                        {% for period in periods_array %}
                                            {% ifequal i period.per %}
                                                {% ifequal j period.day %}
                                                    <a href="../periods/id={{period.id}}">{{ period.code }}</a>
                                                {% endifequal %}
                                            {% endifequal %}
                                        {% endfor %}
                                    </td>
                                {% endifnotequal %}
                            {% endifequal %}
                        {% endifequal %}
                    {% endfor %}
                {% endfor %}
                </tr>

        {% endfor %}

    {% endifequal %}
        </tbody>
        </table>
    <br/>
    <center><a class="btn btn-sm btn-success" href="../periods/add/id={{timetable_id}}" role="button">Add new period</a></center>
</div>
{% endblock slide01 %}

        {% ifequal timetable_id "0" %}
        <p align = 'center'>GOTO http://127.0.0.1:8000/timetables/id=...</p>
    {% else %}
        <p align = 'center'>School schedule :</p>
        <br/>
        <table align='center' width=900 border = 1>
            <thead align='center'>
                <tr>
                    <td>Task</td>
                    <td>Period 1</td>
                    <td>Period 2</td>
                    <td>Period 3</td>
                    <td>Period 4</td>
                    <td>Period 5</td>
                    <td>Period 6</td>
                    <td>Period 7</td>
					<td>Period 8</td>
					<td>Period 9</td>
					<td>Period 10</td>
                </tr>
            </thead>

			<thead align='center'>
                <tr>
                    <td>Work</td>
                    <td>07h00'~07h50'</td>
                    <td>08h00'~08h50'</td>
					<td>09h00'~09h50'</td>
					<td>10h00'~10h50'</td>
					<td>11h00'~11h50'</td>
					<td>13h00'~13h50'</td>
					<td>14h00'~14h50'</td>
					<td>15h00'~15h50'</td>
					<td>16h00'~16h50'</td>
					<td>17h00'~17h50'</td>
                </tr>
            </thead>

		   <thead align='center'>
                <tr>
                    <td>Rest</td>
                    <td>10 mins</td>
					<td>10 mins</td>
					<td>10 mins</td>
					<td>10 mins</td>
					<td>10 mins</td>
					<td>10 mins</td>
					<td>10 mins</td>
					<td>10 mins</td>
					<td>10 mins</td>
					<td>10 mins</td>
                </tr>
            </thead>

			<thead align='center'>
                <tr>
                    <td>Day</td>
                    <td>Morning</td>
                    <td>Morning</td>
					<td>Morning</td>
					<td>Morning</td>
					<td>Morning</td>
					<td>Afternoon</td>
					<td>Afternoon</td>
					<td>Afternoon</td>
					<td>Afternoon</td>
					<td>Afternoon</td>
                </tr>
            </thead>
    {% endifequal %}
        </table>

{% block extra-table %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><font color="#ff771c">NEW</font>RELEASE</h2>
            <hr/>
            {% for course in course_new %}
            <table class="table-condensed">
                <tr><h4><a href="../periods/id={{course.id}}">{{ course.name }}</a></h4></tr>
            </table>
            <hr/>
            <!--<hr class="featurette-divider"/>-->
            {% endfor %}
        </div>

         <div class="col-md-4">
            <h2><font color="#2ecc71">TREND</font></h2>
            <hr/>
            {% for course in course_hot %}
                <table class="table-condensed">
                <tr><h4><a href="../periods/id={{course.id}}">{{ course.name }}</a></h4></tr>
                </table>
            <hr/>
            <!--<hr class="featurette-divider"/>-->
            {% endfor %}
        </div>

        <div class="col-md-4">
            <h2><font color="#a349a4">COURSES</font>FORYOU</h2>
            <hr/>
            {% for course in course_recommend %}
                <table class="table-condensed">
                <tr><h4><a href="../periods/id={{course.id}}">{{ course.name }}</a></h4></tr>
                </table>
            <hr/>
            <!--<hr class="featurette-divider"/>-->
            {% endfor %}
        </div>

    </div>
</div>
{% endblock extra-table %}
