{% extends "base.html" %}
{% block title %}Register page | Time Machine {% endblock title %}
{% block carousel %}
{% endblock carousel %}
{% block main-content %}
    <div class="container">
    <div name="register" id="mylogin" class="navbar-collapse collapse">
        <form action="" role="form" method="post">
            {% csrf_token %}
            <hr/>
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username"/>
            </div>
            <div class="form-group">
                <input type="text" name="first_name" class="form-control" placeholder="First name"/>
            </div>
            <div class="form-group">
                <input type="text" name="last_name" class="form-control" placeholder="Lastname"/>
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password"/>
            </div>
            <hr/>
            <p align="right"><button class="btn btn-lg btn-success" type="submit" name="submit" value="Register">Register</button></p>
        </form>
    </div>
    </div>
{% endblock main-content %}