{% extends "base.html" %}
{% block title %}Get subject | Time Machine {% endblock title %}
{% block carousel %}
{% endblock carousel %}
{% block main-content %}
    <div name="enroll" id="mylogin" class="navbar-collapse collapse">
        {% ifequal period_id "0" %}
            <p align = 'center'>GOTO http://127.0.0.1:8000/periods/id=...</p>
        {% else %}
            <p align = 'center'>Period Information {{ period_id }} :</p>
        {% endifequal %}
        <br/>
        <table align = 'center' width = 400 border = 2>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td> {{ period.id }} </td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td> {{ period.code }} </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td> {{ period.name }} </td>
                </tr>
                <tr>
                    <td>Lecturer</td>
                    <td> {{ period.lecturer }} </td>
                </tr>
                <tr>
                    <td>Position</td>
                    <td> {{ period.position }} </td>
                </tr>
                <tr>
                    <td>Length</td>
                      <td> {{ period.length }} </td>
                </tr>
            </tbody>

        </table>
        <hr/>
        <form action="" role="form" method="post">
            {% csrf_token %}      <!-- Protection against Cross Site Request Forgeries -->
            {{ form.as_p }}
            <button class="btn btn-success" type="submit" name="submit" value="Save">Save</button>
        </form>
    </div>
{% endblock main-content %}