<!DOCTYPE html>
<html>
<head>
    <title>Show Subject Information</title>
</head>
<body>
    {% ifequal period_id "0" %}
        <p align = 'center'>GOTO http://127.0.0.1:8000/periods/id=...</p>
    {% else %}
        <p align = 'center'>Subject Information {{ period_id }} :</p>
    {% endifequal %}
        <br/>
    <table align = 'center' width = 400 border = 5>
        <tr>
            <td>ID</td>
            <td>Code</td>
            <td>Name</td>
            <td>Lecturer</td>
            <td>Postion</td>
            <td>Length</td>
        </tr>
    {% for subject in subjects_array %}
        <tr>
            <td> {{ subject.id }} </td>
            <td> {{ subject.code }} </td>
            <td> {{ subject.name }} </td>
            <td> {{ subject.lecturer }} </td>
            <td> {{ subject.position }} </td>
            <td> {{ subject.length }} </td>
        </tr>
    {% endfor %}

    </table>
</body>
</html>